@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lavishly+Yours&family=Parisienne&family=Playwrite+DE+VA+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(59, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#signup-form{
    width: 95%;

    & > input{
        width: 98%;
    }
}

.signup-container {
    background: rgba(0, 0, 0, 0.6); 
    padding: 50px;
    box-shadow: 0 0 15px #fff;
    border-radius: 10px;
    width: 380px; 
    text-align: center;
    color: white; 
}

h2 {
    margin-bottom: 20px;
    color: white;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    width: 380px;
    padding: 12px;
    margin-top: 10px;
    background-color: #6200ea; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #4b00c2; 
}

.login-option {
    margin-top: 20px;
}

.login-option a {
    color: #bb86fc;
    text-decoration: none;
    font-weight: bold;
}

.login-option a:hover {
    text-decoration: underline;
}